body{
	background-color: black;
}
p{
	font-size: 20px;
}
a{
	font-size: 18px;
}
p.tank{
	padding-left: 50px;
	font-size: 25px;
}
#container{
	border:2px solid white;
	padding:30px;
	display:inline-block;
	border-radius: 10px;
	background-color:black;
	color:white;
	margin: 5px;
}
#error_container{
	border:2px solid white;
	display:inline-block;
	border-radius: 10px;
	background-color:black;
	color:red;
}
.progress{
	border: 2px solid black;
	border-radius: 5px;
	padding: 1px 15px 1px 15px;
	margin-left: 20px;

}
#info_container{
	border:2px solid white;
	display:inline-block;
	border-radius: 10px;
	background-color:black;
	color:white;
	font-size: 15px;

}

.history{
	display: none;
	position: fixed;
	top: 0px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: rgb(123, 06, 12, 0.4);
	margin: 0px;
	padding: 15px;
	right: 0px;
}

.show_history_button:hover{
	cursor: pointer;
}

#calldata{
	display: none;
	position: fixed;
	top: 0px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: rgb(226, 245, 239, 0.99);
	margin: 0px;
	padding: 40px;
	font-size: 30px;
	width: 100%;
	left: 0px;
	z-index:99999;
}

.connected{
	margin: 0px;
	display: inline-block;
	color: green;
	background-color: green;
	border: 4px solid green;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-left: 2px;
	transition: background-color 2s;
}

#container:hover .connected{
	background-color: black;
}
#container:hover .disconnected{
	background-color: yellow;
}

.disconnected{
	margin: 0px;
	display: inline-block;
	color: red;
	background-color: red;
	border: 4px solid red;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-left: 2px;
	transition: background-color 2s;
}

#console{
	display: none;
	position: fixed;
	bottom: 0px;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: white;
	border: 2px solid black;
	margin: 0px;
	padding: 10px;
	font-size: 10px;
	width: 100%;
	left: 0px;
	resize: vertical;
}

#console-log p{
	margin: 0px;
	padding: 2px;
}
#togglebuttonconsole{
	color: white;
	display: inline-block;
	padding: 5px;
	margin-right: 7px;
	border-radius: 2%;
	transition: border-radius 0.5s;
}
#togglebuttonconsole:hover{
	cursor: pointer;
	border: 1px solid white;
	padding: 4px;
	border-radius: 15%;
}
#console_line{
	margin-bottom: 1px;
	border-bottom: 0px;
	transition: padding-left 4s;
}
#console_line:hover{
	cursor: default;
	padding-left: 6px;
}
#line_number{
	margin-right: 5px;
	padding: 5px;
}
#line_number:hover{
	border: 1px solid black;
	border-radius: 10px;
	cursor: default;
}