[Unit]
Description=Honeygain api
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/SuckMyLegApis/HoneygainWorkers/server.py
 
[Install]
WantedBy=multi-user.target