[Unit]
Description=Instagram api
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/Apis/Instagram/server.py
 
[Install]
WantedBy=multi-user.target