[Unit]
Description=InstagramBot api
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/Apis/InstagramBot/server.py
 
[Install]
WantedBy=multi-user.target