[Unit]
Description=Main api
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/SuckMyLegApis/Main/Server.py
 
[Install]
WantedBy=multi-user.target