[Unit]
Description=PFTR api
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/Apis/PTP/server.py
 
[Install]
WantedBy=multi-user.target